<ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async" height="3px"></ngb-progressbar>
	  <div class="kt-section__content">
		
        <mat-toolbar>
            <button class="btn btn-primary" (click)="Create_exercice()">
                <i class="material-icons">
                  add	
                  </i>CREE</button>
                  <button class="btn btn-light">
                  <i class="material-icons">
                      vertical_align_bottom
                      </i>IMPORTER</button>
                     
              
            </mat-toolbar>
      
        </div>
     
  <div class="row">
      <div class="col-xl-6">
        <div class="row row-full-height">
         
                <div *ngFor="let exercice of exercicesdata"class="col-sm-12 col-md-12 col-lg-4 mat-button">
                        <kt-portlet [class]="'kt-portlet--height-fluid'">
                            <button mat-button (click)="exo(exercice)" color="primary">
                                   
                                      <kt-portlet-header 
                            
                                  style="border-color:#6638F0;border-width:2px">
                                  
                                    <ng-container ktPortletTools>
                                    <div>
                                      {{exercice.exercise_title}}
                                  </div>  
                                    <kt-widget4 [data]="widget4_2">
                                          </kt-widget4>
                                      </ng-container>
                                  </kt-portlet-header>
                            </button>
                          
                            <kt-portlet-body (click)="exo(exercice)"> 
                              </kt-portlet-body>
                              <div class="kt-section__content">
                                <ng-template #content let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                  <h4 class="modal-title">Supprimer un exercice</h4>
                                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Voulez-vous vraiment Supprimer</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="c('Close click')">Annulez</button>
                                    <button type="button" class="btn btn-primary" (click)="delete(exercice.id)">Ok</button>
                                
                                </div>
                                </ng-template>
                                <button class="btn btn-primary" (click)="UpdateExerciceButton(exercice)">
                                    <i class="material-icons">
                                      create	
                                      </i>Modifier</button>
                                    <button class="btn btn-light" (click)="DeleteExerciceButton(content,exercice.id)">
                                    <i class="material-icons">
                                    delete_sweep
                                      </i>Supprimer</button>
                                     
                              </div>
                          </kt-portlet>
                    </div>
        </div>
        
      </div>
    </div>





 
         
