
  
                <mat-drawer-container class="example-container" autosize>
                    <div class="example-sidenav-content">
              <mat-card class="example-card">
                   <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
                        <div flex-gt-sm="50">
                                <mat-card>
                                  <mat-card-title>
                                  <div layout="row" layout-align="start center">
                                    <span flex>Card title</span>
                                    <span>
                                    <button mat-icon-button
                                        matTooltip="Card settings"
                                        [mat-menu-trigger-for]="settings2">
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu xPosition="before" #settings2="matMenu">
                                      <button mat-menu-item> Settings </button>
                                      <mat-divider></mat-divider>
                                      <button mat-menu-item> Remove </button>
                                    </mat-menu>
                                    </span>
                                  </div>
                                  </mat-card-title>
                                  <mat-divider></mat-divider>
                                  <div class="pad">
                                  <div [style.height.px]="250">
                                    <ngx-charts-number-card
                      [view]="view"
                      [bandColor]="{ domain: [ '#78A2E7', '#A37DA9', '#A8E3F6' ] }"
                      
                      [scheme]="{ domain: [ '#78A2E7', '#A37DA9', '#A8E3F6' ] }"
                      [results]="tvamonth">
                      </ngx-charts-number-card>
                                  </div>
                                  </div>
                                </mat-card>
                                </div>
                            <mat-divider></mat-divider>
                    </div>
                 </mat-card>
                    </div>
                  </mat-drawer-container>
             
                     