<div class="row">
    <div class="col-xl-4 col-md-7">
        <sb-card-view-details link="/dashboard" background="bg-primary">
            <div class="card-body">
               <span style="font-size:2em;">
                <fa-icon [icon]="faUserGraduate"></fa-icon>
               </span>
                  GAL
            </div>
    </sb-card-view-details>
    </div>
    <div class="col-xl-4 col-md-7">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">
            <span style="font-size:2em;">
             <fa-icon [icon]="faUserGraduate"></fa-icon>
            </span>
            GUM
        </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-4 col-md-7">
        <sb-card-view-details link="/dashboard" background="bg-dark"><div class="card-body">
            <span style="font-size:2em;">
              <fa-icon [icon]="faUserGraduate"></fa-icon>
            </span>
            SDK
        </div>
        </sb-card-view-details> 
    </div>
   <!-- <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">
            <span style="font-size:2em;">
                <fa-icon [icon]="faChalkboardTeacher"></fa-icon>
            </span>
            Teachers number</div></sb-card-view-details>
    </div>-->
</div>
