:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}
.card{
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.125rem;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

gridster {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color:#6788BF
}
// Adjust your logo position
.mat-icon {
  &.mat-icon-logo {
    position: relative;
    top: -4px;
  }
}

// Hack for small search box
.td-search-box {
.td-search-icon.mat-icon-button {
  margin: 0;
  height: 30px;
  .mat-icon {
    margin-top: -10px;
  }
}
td-search-input {
  margin-left: 0 !important;
  margin-bottom: 5px;
  .mat-form-field {
    width: auto;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-input-infix {
    padding: 0;
  }
  .mat-form-field-infix {
    border-top: 0;
  }
}
}
