
<div ngbDropdown [placement]="'bottom-right'"  class="dropdown">
	<a ngbDropdownToggle href="javascript:;" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle">
		Modules
	</a>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit" style="z-index: 5000">
		<ul class="kt-nav" >
			<li class="kt-nav__section kt-nav__section--first">
				<span class="kt-nav__section-text">Modules</span>
			</li>
			<li class="kt-nav__item">

				<a routerLink="/demo2/kt-jibayaliasse" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-graph-1"></i>
					<span class="kt-nav__link-text">JIBAYA LIASSE</span>
				</a>
			</li>
			<li class="kt-nav__item">
				<a routerLink="/demo2/kt-jibayatva" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-calendar-4"></i>
					<span class="kt-nav__link-text">JIBAYA TVA</span>
				</a>
			</li>
			<li class="kt-nav__item">
				<a routerLink="/demo2/kt-jibayasalaire" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-layers-1"></i>
					<span class="kt-nav__link-text">JIBAYA SALAIRE</span>
				</a>
			</li>
			<li class="kt-nav__item">
				<a routerLink="/demo2/kt-jibayaimmo" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-calendar-4"></i>
					<span class="kt-nav__link-text">JIBAYA IMMO</span>
				</a>
			</li>
			<li class="kt-nav__item">
				<a routerLink="/demo2/kt-jibayacompta" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-file-1"></i>
					<span class="kt-nav__link-text">JIBAYA COMPTA</span>
				</a>
			</li>
			<li class="kt-nav__item">
				<a routerLink="/demo2/kt-jibayabudget" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-graph-1"></i>
					<span class="kt-nav__link-text">JIBAYA BUDGET</span>
				</a>
			</li>
			<li class="kt-nav__item">
				<a routerLink="/demo2/kt-jibayacoll" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-graph-1"></i>
					<span class="kt-nav__link-text">JIBAYA COLL</span>
				</a>
			</li>
			<li class="kt-nav__item">
				<a routerLink="/demo2/kt-jibayadoc" class="kt-nav__link">
					<i class="kt-nav__link-icon flaticon2-calendar-4"></i>
					<span class="kt-nav__link-text">JIBAYA DOC</span>
				</a>
			</li>
			<!-- kkk -->
		</ul>
	</div>
</div>
