<form>
  <div class="row">
    <div class="col-sm-3">
      <form class="d-flex">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        <!-- <button class="btn btn-outline-success" type="submit">Search</button>-->

      </form>
    </div>
    <div class="col-sm-9">
      <div class="form-group form-inline float-right">
        <button type="button" class="btn btn-primary mr-1" routerLink="/students/student-create/">
         <!-- <i class="fa fa-user-plus" aria-hidden="true"></i>-->
          Add student
        </button>
        <div class="btn-group">
          <div ngbDropdown class="d-inline-block"autoClose="outside" >
            <button class="btn btn-secondary mr-1" id="export" ngbDropdownToggle>
              <i class="fa fa-filter" aria-hidden="true"></i>
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem type="button" class="btn btn-light btn-sm" (click)="downloadPDF()">
                <i class="fa fa-pdf"></i>
                PDF
              </button>
              <button type="button" class="btn btn-light btn-sm" ngbDropdownItem (click)="downloadExcel()">
                XLSX
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success mr-1" (click)="open(content)">
          <i class="fa fa-upload"></i>
          Import
        </button>
        <div class="btn-group">
          <div ngbDropdown class="d-inline-block"autoClose="outside" >
           <!-- <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>
              <i class="fa fa-filter" aria-hidden="true"></i>
              Filter
            </button>-->
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <label class="dropdown-item"><input type="checkbox" id="firstName" checked
                                                  (change)="filterFirstName($event)"> First name
              </label>
              <label class="dropdown-item"><input type="checkbox" id="lastName" checked
                                                  (change)="filterName($event)"> Last Name
              </label>
              <label class="dropdown-item"><input type="checkbox" id="gender" checked
                                                  (change)="filterGender($event)"> Gender
              </label>
              <label class="dropdown-item"><input type="checkbox" id="email" checked
                                                  (change)="filterEmail($event)"> Email
              </label>
              <label class="dropdown-item"><input type="checkbox" id="phone1" checked
                                                  (change)="filterPhone1($event)"> Phone
              </label>
              <label class="dropdown-item"><input type="checkbox" id="city" checked
                                                  (change)="filterCity($event)"> City
              </label>
              <label class="dropdown-item"><input type="checkbox" id="course" checked
                                                  (change)="filterClass($event)"> Course
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="form-group form-inline">Search <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div> -->
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Code</th>
      <th scope="col" sbSortable="firstName" (sort)="onSort($event)"
          *ngIf='firstNameCbx'>
        <span>First Name</span><sb-sort-icon *ngIf='sortedColumn === "firstName"' [direction]="sortedDirection" ></sb-sort-icon></th>

      <th scope="col" sbSortable="lastName"
          *ngIf='lastNameCbx'
          (sort)="onSort($event)"><span>Last Name</span><sb-sort-icon *ngIf='sortedColumn === "lastName"' [direction]="sortedDirection"></sb-sort-icon></th>

      <th scope="col" sbSortable="gender"
          *ngIf='genderCbx'
          (sort)="onSort($event)"><span>Gender</span><sb-sort-icon *ngIf='sortedColumn === "gender"' [direction]="sortedDirection"></sb-sort-icon></th>

      <th scope="col" sbSortable="email"
          *ngIf='emailCbx'
          (sort)="onSort($event)"><span>Email</span><sb-sort-icon *ngIf='sortedColumn === "email"' [direction]="sortedDirection"></sb-sort-icon></th>

      <th scope="col" sbSortable="phone1"
          *ngIf='phone1Cbx'
          (sort)="onSort($event)"><span>Phone </span><sb-sort-icon *ngIf='sortedColumn === "phone1"' [direction]="sortedDirection"></sb-sort-icon></th>

      <th scope="col" sbSortable="cityCbx"
          *ngIf='cityCbx'
          (sort)="onSort($event)"><span>City</span><sb-sort-icon *ngIf='sortedColumn === "city"' [direction]="sortedDirection"></sb-sort-icon></th>

      <th scope="col" sbSortable="class"
          *ngIf='classCbx'
          (sort)="onSort($event)"><span>Course</span><sb-sort-icon *ngIf='sortedColumn === "class"' [direction]="sortedDirection"></sb-sort-icon></th>
      <th scope="col"><span>Paiement status</span></th>
      <th scope="col"><span>Actions</span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of student$ |async | filter:searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <th scope="row">{{ student.code }}</th>
      <th scope="row" *ngIf='firstNameCbx'>{{ student.firstName }}</th>
      <th scope="row" *ngIf='lastNameCbx'>{{ student.lastName }}</th>
      <th scope="row" *ngIf='emailCbx'>{{ student.gender }}</th>
      <th scope="row" *ngIf='emailCbx'>{{ student.email }}</th>
      <th scope="row" *ngIf='phone1Cbx'>{{ student.phone }}</th>
      <th scope="row" *ngIf='phone1Cbx'>{{ student.cityOfResidence }}</th>
      <th scope="row" *ngIf='classCbx'>
        <div *ngFor="let c of student.courses">
              {{c.coursesName}}-{{c.coursesType}}
        </div>
      </th>
      <th scope="row" *ngIf='classCbx'>
      <!--  <span class="badge badge-warning mr-2" *ngIf="student.status=='unpaid'">{{student.status }}</span>-->
       <!-- <span class="badge badge-success mr-2" *ngIf="student.status=='paid'">{{student.status }}</span>-->

        <div class="row justify-content-center">
          <button type="button" *ngIf="student.status"
                  class="btn btn-success btn-sm" (click)="disableStudent(student)">
              <span class="mr-1">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </span>Paid
          </button>
          <button type="button" *ngIf="!student.status"
                  class="btn btn-danger btn-sm" (click)="disableStudent(student)">
              <span class="mr-1">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>unpaid
          </button>
        </div>
      </th>
      <th class="overflow-hidden">
        <div ngbDropdown container="body">
          <button class="btn btn-dark btn-sm" ngbDropdownToggle>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu>
            <button class="btn btn-light btn-sm" ngbDropdownItem (click)="viewStudent(student)">
              <i class="fa fa-eye" aria-hidden="true"></i>
              View</button>
            <div class="dropdown-divider"></div>
            <button class="btn btn-light btn-sm" ngbDropdownItem
                    (click)="editStudent(student)"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="btn btn-light btn-sm" (click)="deleteStudentModal(deleteModal,student)">
              <i class="fa fa-archive" aria-hidden="true"></i>
              Delete</button>
          </div>
        </div>
      </th>

    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="studentService.page" [pageSize]="studentService.pageSize"></ngb-pagination>
    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="studentService.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Suppression de l'étudiant</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Voulez vous vraiment supprimer l'étudiant
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
    <button type="submit" class="btn btn-primary" (click)="deleteStudent()">Confirmer</button>
  </div>


</ng-template>

<ng-template #content let-modal>

  <div class="modal-header">
    <!-- <div class="d-block">
      <h4 class="modal-title" id="modal-basic-title">Upload</h4>
      <div class="alert alert-danger" role="alert">
       Warning:This functionality not working yet !
      </div>
    </div> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross Click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-label>Drop your file here</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save Click')">Save</button>
  </div>

</ng-template>
