<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163656150623-ogr6p3aq1oi4hvr6jm5siobo4top4nsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163656150623-ogr6p3aq1oi4hvr6jm5siobo4top4nsh</string>
	<key>API_KEY</key>
	<string>AIzaSyBrWi_HRcWohLtmmEc9h4amiVnOSNAwHuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>163656150623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookla</string>
	<key>PROJECT_ID</key>
	<string>cookla-18fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>cookla-18fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163656150623:ios:5ca5578fe485428b07b5ea</string>
</dict>
</plist>