:host {
	.kt-subheader__desc {
		margin: 0;
	}
}
.kt-subheader__toolbar {
	margin: 90;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.example-button-row-nav button,
.example-button-row-nav a 
{ 
	margin-right: -20px;
}

