<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
		<div class="kt-subheader__main">
		  <h3 *ngIf="title" class="kt-subheader__title">Exercice</h3>
		  <span class="kt-subheader__separator kt-subheader__separator--v"></span>
		  <!-- <span *ngIf="desc" class="kt-subheader__desc">{{desc}}</span> -->
		  
		</div>
		<div class="example-button-row" *ngIf="title=='Dashboard'">
			<button mat-raised-button color="primary" (click)="openDialog()">CREE</button>
			<button mat-button>IMPORTER</button>
		</div>
	  </div>
	