<!-- 
  <mat-drawer-container class="example-container" autosize>
    	<ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async" height="3px"></ngb-progressbar>
      <mat-drawer
       #drawer mode="side" 
      class="example-sidenav" 
      [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"  
      >
      <div class="example-button-row">
                            
          <button mat-button color="primary" (click)="increase()">
            <i class="material-icons">
              menu
              </i>
          </button>
          
        </div>
          <mat-nav-list *ngFor="let language of languages">
          <div (click)="selectcountry(language.country_id)" >
              <img src="{{language.flag}}" style=" background-size: cover;">
          </div>
             
        </mat-nav-list>
      </mat-drawer>
    
      <div class="example-sidenav-content">
<mat-card class="example-card">
    <mat-toolbar>
  
           <div class="example-button-row" style="text-align: center">
               <button mat-button color="primary" (click)="savedata()"><i class="material-icons">
                   save
                 </i>Sauvegarder</button> 
                  <button mat-button color="primary" (click)="resetdata()">
                   <i class="material-icons">
                     refresh
                   </i>Reinitialiser</button> 
         </div>
     </mat-toolbar>
     <div class="kt-space-20"></div>
     <div class="kt-space-20"></div>
      
     <mat-card-content>
      <div>
          <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
        >
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
          <hot-table
          licenseKey="non-commercial-and-evaluation"
          [hotId]="instance"
          [data]="dataset"
          [settings]="hotSettings"
          [colHeaders]="true">
      </div>  
     </mat-card-content>
   </mat-card>
      </div>
    </mat-drawer-container> -->


    <div class="flex-container">
        <div style="margin-right: 8px" 
        [ngStyle]="{ 'width.em': sidenavWidth }"
        (mouseleave)="decrease()"
        >
        <div class="panel_title"> 
            <mat-accordion>
                <mat-expansion-panel
                [expanded]="step === 0"
                hideToggle="true"
                [disabled]="isDisabled"
                (opened)="setStep(0)"
                >
                  <!-- <mat-expansion-panel-header 
                  [collapsedHeight]="customCollapsedHeight" 
                  [expandedHeight]="customExpandedHeight"
                  >
                   </mat-expansion-panel-header> -->
                  <mat-list role="list" *ngFor="let language of languages">
                  
                      <div (click)="selectcountry(language.country_id)" style="margin-bottom: 8px">
                          <img src="{{language.flag}}" style=" background-size: cover">
                      </div>
                         
   
                    </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
            
        </div>
      
  <mat-card class="example-card" >
          <mat-toolbar style="margin-bottom: 8px"> 
              <button mat-button color="primary" (click)="savedata()"><i class="material-icons">
                  save
                </i>Sauvegarder</button> 
                 <button mat-button color="primary" (click)="resetdata()">
                  <i class="material-icons">
                    refresh
                  </i>Reinitialiser
                </button> 
                  <!-- <button mat-button color="primary" (click)="balance()">
                      Balance
                    </button> -->
        </mat-toolbar> 
      <mat-card-content>
          <mat-card-header>
               
                    <mat-card-title>test</mat-card-title>
            </mat-card-header>
            <ngx-spinner
            bdOpacity = 1
            bdColor = "rgba(51,51,51,0.8)"
            size = "small"
            color = "#fff"
            type = "cube-transition"
            [fullScreen] = "true"
            >
            <p style="color: white" > Loading... </p>
            </ngx-spinner>
            <hot-table 
            licenseKey="non-commercial-and-evaluation"
            [hotId]="instance"
            [data]="dataset"
            [settings]="hotSettings"
            >
          </hot-table>
      </mat-card-content>
    </mat-card>
     </div>
  
     