<div class="flex-container">
      <div style="margin-right: 8px" 
      [ngStyle]="{ 'width.em': sidenavWidth }"
      >
          <mat-accordion>
              <mat-expansion-panel
              [expanded]="step === 0"
              hideToggle="true"
              [disabled]="isDisabled"
              (opened)="setStep(0)"
              >
                <mat-expansion-panel-header  
                class="panel_title"
                [collapsedHeight]="customCollapsedHeight" 
                [expandedHeight]="customExpandedHeight"
                >
                  <!-- <mat-panel-title>
                    
                  </mat-panel-title> -->
                  <mat-panel-description>
   
                      <div class="example-button-row">
                          <div *ngIf="sidenavWidth > 12">
                              <button mat-button color="primary">
                                 Liste des formulaires
                              </button>
                              <button mat-button color="primary" (click)="decrease()" >
                                  <i class="material-icons">
                                      chevron_left
                                      </i>
                              </button>
                           </div>
                           <div *ngIf="sidenavWidth == 12">
                              <button mat-button color="primary">
                                  Formulaires
                              </button>
                              <button mat-button color="primary" (click)="increase()">
                                  <i class="material-icons">
                                      chevron_right
                                      </i>
                              </button>
                           </div>
                          
                        </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <mat-list role="list" *ngFor="let form_short_title of forms_short_title">
                     
                      <mat-list-item role="listitem" (click)="selectforms(form_short_title)">
                          <a mat-mini-fab color="warn">{{form_short_title.position}}</a>
                          <div *ngIf="sidenavWidth > 15">
                              <div class="example-button-row">
                                  <button mat-button color="primary" (click)="selectforms(form_short_title)">
                                      {{form_short_title.tab_short_title}}
                                  </button>
                                  
                                </div>
                           </div>
                      </mat-list-item>
                    </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
            
      </div>
    
<mat-card class="example-card" >
        <mat-toolbar style="margin-bottom: 8px"> 
            <button mat-button color="primary" (click)="savedata()"><i class="material-icons">
                save
              </i>Sauvegarder</button> 
               <button mat-button color="primary" (click)="resetdata()">
                <i class="material-icons">
                  refresh
                </i>Reinitialiser
              </button> 
                <button mat-button color="primary" (click)="balance()">
                    Balance
                  </button>
                  <button mat-button color="primary" (click)="export()"> 
                      Exporter</button>
                      <!-- <button mat-button color="primary" (click)="download()"> 
                          Exporter</button>   -->
      </mat-toolbar> 
    <mat-card-content>
        <mat-card-header>
            <mat-chip-list aria-label="Fish selection" *ngIf="status;">
                <mat-chip style="height: 10%"
                color="primary" selected>déclaré</mat-chip>
                 
              </mat-chip-list>   
                  <mat-card-title style="overflow-wrap: break-word;">{{tab_title}}</mat-card-title>
          </mat-card-header>
          <ngx-spinner
          bdOpacity = 1
          bdColor = "rgba(51,51,51,0.8)"
          size = "small"
          color = "#fff"
          type = "cube-transition"
          [fullScreen] = "true"
          >
          <p style="color: white" > Loading... </p>
          </ngx-spinner>
    
              <hot-table 
              licenseKey="non-commercial-and-evaluation"
              [hotId]="instance"
              [data]="dataset"
              [settings]="hotSettings"
              [colHeaders]="col_header">
            </hot-table>
    
    </mat-card-content>
  </mat-card>
   </div>

   