<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
	<!-- <div class="kt-subheader__main">
		<h3 *ngIf="title" class="kt-subheader__title">{{title}}</h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<span *ngIf="desc" class="kt-subheader__desc">{{desc}}</span>
		
	</div> -->
	<div class="kt-section">
		<div class="kt-section__content">
		  <ng-template #content let-c="close" let-d="dismiss">
			<div class="modal-header">
			  <h4 class="modal-title">Suppression</h4>
			  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <p>Voulez vous vraimez Supprimez</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annulez</button>
			  <button type="button" class="btn btn-primary">OK</button>
			</div>
		  </ng-template>
		  <!-- <span style="color: Tomato;">
			<i class="fas fa-trash" (click)="open(content)" style="margin-left:0px;padding:16px">Supprimer</i>
			<i class="fas fa-edit" style="margin-right:15px">Modifier</i>
		</span> -->
		</div>
	  </div>
	<div class="example-button-row" style="text-align: center">
			<!-- <button mat-button color="primary" (click)="open(content)"><i class="material-icons">
				delete_sweep
				</i>Supprimer</button> -->
			<!-- <button mat-button routerLink="/demo2/kt-company-list/{{employee.id}}"
			(click)="UpdatecompanyDialog()">
				<i class="material-icons">
					create
					</i>Modifier</button> -->
			 
	</div>
	<!-- <div class="kt-subheader__toolbar">
		<div class="kt-subheader__wrapper">
			<a href="javascript:;" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker" data-placement="left" ngbTooltip="Select dashboard daterange">
				<span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Today</span>&nbsp;
				<span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">{{today | date:'MMM dd'}}</span>
				<i class="flaticon2-calendar-1"></i>
			</a>

			<a href="javascript:;" class="btn kt-subheader__btn-primary btn-icon">
				<i class="flaticon2-file"></i>
			</a>

			<a href="javascript:;" class="btn kt-subheader__btn-primary btn-icon">
				<i class="flaticon-download-1"></i>
			</a>

			<a href="javascript:;" class="btn kt-subheader__btn-primary btn-icon">
				<i class="flaticon2-fax"></i>
			</a>

			<a href="javascript:;" class="btn kt-subheader__btn-primary btn-icon">
				<i class="flaticon2-settings"></i>
			</a>

			<div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline" data-placement="left" ngbTooltip="Quick actions">
				<a ngbDropdownToggle href="javascript:;" class="btn btn-brand btn-icon">
					<i class="flaticon2-plus"></i>
				</a>
				<div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="javascript:;"><i class="la la-plus"></i> New Report</a>
					<a class="dropdown-item" href="javascript:;"><i class="la la-user"></i> Add Customer</a>
					<a class="dropdown-item" href="javascript:;"><i class="la la-cloud-download"></i> New Download</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="javascript:;"><i class="la la-cog"></i> Settings</a>
				</div>
			</div>
		</div>
	</div> -->
</div>
<!-- end:: Content Head -->
